* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

button {
   border: none;
   outline: none;
}

ul {
   list-style: none;
}

body {
   position: relative;
   font-family: 'Open Sans', sans-serif;
   color: #1d1b1e;
   font-size: 14px;
   font-weight: 400;
}
